@import "tailwindcss";




:root {

  --king-blue: #050f3d;
  --dark-night: #000000;
  --electric:#1a2e88;
  --custom-purple: #7e5bef;

  --background: #0a0a0a; 
  --foreground: #ededed; 

}

/* stylelint-disable-next-line at-rule-no-unknown */
@theme inline {
  
  --color-king-blue: var(--king-blue);
  --color-dark-night: var(--dark-night);
  --color-custom-purple: var(--custom-purple);
}



html,body {
 
  color: var(--foreground);
  font-family: 'Poppins', ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Arial;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


