@import "tailwindcss";

:root {

  --king-blue: #050f3d;
  --dark-night: #000000;
  --foreground: #ededed;
  --custom-purple: #7e5bef;

}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --color-king-blue: var(--king-blue);
  --color-dark-night: var(--dark-night);
  --color-custom-purple: var(--custom-purple);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
 
  color: var(--foreground);
  font-family: 'Poppins', ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Arial;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
